
# Git
alias gc='git commit'
alias gcc='git add . && git commit'
alias gs='git status'
alias gd='git diff'
alias pull='git pull'
alias push='git push'
alias nope='git reset --hard && git clean -f -d && git checkout HEAD'
alias gb='git branch'
alias gl='git checkout -'
alias g1='git log --oneline'
alias gp='git fetch --all --prune'
alias sw='git switch'
alias swc='git switch -c'

# Other
alias c='clear'
alias cl='clear'
alias p='python'
alias up='source .venv/bin/activate'
